html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* --------------Preloader-----------*/

#preloader {
    background: white url(images/loader.gif) no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* ---------------Navbar------------- */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#ff9966, #ff5e62);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    right: 0;
    z-index: 4;
    width: 100%;
}

.navBg {
    background: #ff5e62;
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}

ul .fa-brands {
    color: white;
    font-size: 20px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-align: right;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* ------------------About---------------------- */

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 55px;
}

.typed-text {
    font-weight: 500;
    color: #fa5154;
    margin: 10px 40%;
    font-size: 18px;
}

.typing-text {
    margin: 5px 0;
    height: 25px;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 17px;
    font-size: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.hero-btn:hover {
    border: 1px solid #fa5122;
    background: #fa5122;
    transition: 1s;
}


nav .fa-solid {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 25px;
    }

    .text-box p {
        font-size: 15px;
        margin: 10px 15% 40px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #ff5e62;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;

    }

}

/* ----------------- Resume --------------------- */
.resume {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.resume h1 strong {
    color: #ff5e62;
}

.info-list {
    padding: 0 35%;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: right;
}

.info-list p {
    font-size: 16px;
}

.info-list strong {
    background: #ff5e62;
    float: left;
}


.row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.row-single-box {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

@media(min-width: 1400px) {
    .row-single-box {
        margin: 3% 10% 0 10%;
    }
}

.resume-col {
    flex-basis: 45%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.fa-solid {
    color: #ff5e62;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

h5 {
    color: grey;
}

h6 {
    margin: 10px 40%;
    border: 2px solid #ff5e62;
    border-radius: 10px;
}

.education p {
    margin: 0 15%;
}

.experience p {
    margin: 0 15%;
}

.resume-col:hover {
    box-shadow: 0 0 8px 0px #ff5e62;
}

.languages p {
    margin-left: 20px;
}



@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .row-single-box {
        flex-direction: column;
    }

}

.container-progress {
    margin: 2px auto;
    width: 300px;
    text-align: center;
}

.container-progress .progress {
    margin: 0 auto;
    width: 300px;
}

.progress {
    padding: 2px;
    background: #ff5e62;
    border-radius: 6px;
}

.languages p {
    font-size: 18px;
}

.progress-bar {
    height: 16px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background: #ff9966
}

@media(max-width: 700px) {
    .container-progress .progress {
        width: 200px;
    }
}

#croatian {
    width: 100%;
}

#english {
    width: 95%;
}

#german {
    width: 20%;
}

.coding p {
    font-size: 18px;
}

.resume-col .fa-brands {
    color: #ff5e62;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-filled {
    height: 20px;
    width: 20px;
    background-color: #ff5e62;
    border-radius: 50%;
    display: inline-block;
}

@media(max-width: 800px) {
    .dot {
        height: 15px;
        width: 15px;
    }

    .dot-filled {
        height: 15px;
        width: 15px;
    }

}

/* -------------Works------------- */

.works {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.works h1 strong {
    color: #ff5e62;
}

.works-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
}

@media(max-width: 700px) {
    .works-col {
        margin-left: 25%;
        margin-right: 25%;
    }
}

.works-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: linear-gradient(#ff5e62, #ff9966);
    opacity: 0.9;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* -------------------Contact---------------- */

.contact {
    margin: 80px auto;
    width: 80%;
    background-image: linear-gradient(#ff9966, #ff5e62);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 70px 0;
}

.contact h1 {
    color: whitesmoke;
    margin-bottom: 40px;
    padding: 0;
}

.contact .contact-box {
    margin: 0 30%;
}

.contact div p a {
    text-decoration: none;
    color: whitesmoke;
}

.contact div strong {
    background: whitesmoke;
    float: left;
}

.contact .hero-btn {
    margin-top: 60px;
}

@media(max-width: 700px) {
    .contact .contact-box{
        margin: 0 5%;
    }
}
